/L2-JPA/target/
/L3-SB/sb-client/target/
/L3-SB/sb-ejb/target/
/L3-SB/sb-ejb-client/target/
/L3-SB/sb-ejb-remote/target/
/L3-SB/sb-ejb-web-client/target/
/L3-SB/sb-app/sb-app-ejb/target/
/L3-SB/sb-app/sb-app-ear/target/
/L3-SB/sb-app/sb-app-web/target/
/L3-SB/sb-app/app-web/target/
/L3-SB/sb-app/sb-client/target/
/L3-SB/sb-app/sb-remote/target/
/L3-SB/sb-app/sb-app-remote/target/
/L2-JPA/non-project/target/
/L3-SB/sample-project/calculator/target/
/L2-JPA/sample-project/account/account-remote/target/
/L3-SB/sample-project/account/account-remote/target/
/L3-SB/sample-project/account/account-ejb/target/
/L3-SB/sample-project/account/account-ear/target/
/L3-SB/sample-project/account/account-web/target/
/L6-Messaging/non-project/asynch/target/
/L6-Messaging/non-project/asynch-client/target/